@font-face {
    font-family: "Pretendard-Regular";
    src: local("Pretendard-Regular"), url(../fonts/Pretendard-Regular.woff2) format('woff2');
    font-weight: 400
}
@font-face {
    font-family: "Pretendard-Medium";
    src: local("Pretendard-Medium"), url(../fonts/Pretendard-Medium.woff2) format('woff2');
    font-weight: 500
}
@font-face {
    font-family: "Pretendard-SemiBold";
    src: local("Pretendard-SemiBold"), url(../fonts/Pretendard-SemiBold.woff2) format('woff2');
    font-weight: 600
}
@font-face {
    font-family: "Pretendard-Bold";
    src: local("Pretendard-Bold"), url(../fonts/Pretendard-Bold.woff2) format('woff2');
    font-weight: 700
}
@font-face {
    font-family: "Pretendard-ExtraBold";
    src: local("Pretendard-ExtraBold"), url(../fonts/Pretendard-ExtraBold.woff2) format('woff2');
    font-weight: 800
}

footer {
    display: flex; /* Flexbox 사용 */
    justify-content: space-between; /* 요소들 사이에 공간을 균등하게 배분 */
    align-items: center; /* 세로 중앙 정렬 */
    width: 100vw;
    height: 100px;
    z-index: 99;
    background-color: white;
    border-top: .5px solid #DEDEDE ;
}
footer img {
    width: 36px;
    height: 36px;
}

a {text-decoration-line: none;}