<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="./css/style.css">
    <title>Document</title>
</head>
<body>
    <div class="mobile-login-container">
        <div class="header">
            <button class="back-button">&#60;</button>
            <h1 class=" ">title</h1>
        </div>
        <div class="input-group">
            <label>신청자 : username</label>
        </div>
        <div class="input-group">
            <label>기간 : strDate - finDate</label>
        </div>
        <div class="input-group">
            <label>전화번호 : phonenum</label>
        </div>
    </div>
</body>
</html>