<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/style.css">
    <script src="./script.js"></script>
</head>
<body>
    <div class="container">
        <div class="mobile_view">
            <a href="../../main/index.html"><img src="../../../assets/img/arrow.svg" alt="arrow"></a>
            <div class="slide">
                <img src="../../../assets/img/m1.png" alt="minpak">
                <img src="../../../assets/img/m2.png" alt="minpak">
                <img src="../../../assets/img/m3.png" alt="minpak">
            </div>
            <div class="controls">
                <button id="prev"><img src="../../../assets/img/left_arrow.svg" alt=""></button>
                <button id="next"><img src="../../../assets/img/right_arrow.svg" alt=""></button>
            </div>
        </div>
    </div>
    
</body>
</html>