<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/style.css">
    <script src="./script.js"></script>
</head>

<body>
    <div class="container">
        <div class="mobile_view">
            <img class="logo" src="../../assets/img/Logo.svg" alt="Logo">
            <div class="news">
                <div class="news-items">
                    <div class="news-item">
                        <img class="newsImg" src="../../assets/img/ham.svg" alt="">
                        <div>
                            <p class="newsText">의성마늘햄</p>
                            <p class="newsText">해외랑 첫 계약 맺어</p>
                        </div>
                    </div>
                    <div class="news-item">
                        <img class="newsImg" src="../../assets/img/ham.svg" alt="">
                        <div>
                            <p class="newsText">의성마늘햄</p>
                            <p class="newsText">신제품 출시 예정</p>
                        </div>
                    </div>
                    <div class="news-item">
                        <img class="newsImg" src="../../assets/img/ham.svg" alt="">
                        <div>
                            <p class="newsText">의성마늘햄</p>
                            <p class="newsText">올해의 식품상 수상</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="minbak">
                <p class="gps">의성군</p>
                <a href="../minbag/application/index.html">
                    <div class="minbakBox">
                        <img class="minbakPhoto" src="../../assets/img/minbag.svg" alt="minbag">
                        <div class="minbakSection">
                            <p class="minbakTitle">인테리어 예쁜 집 있습니다.</p>
                            <div class="minbak">
                                <span><img src="../../assets/img/human.svg" alt=""></span>
                                <span class="minbakSubTitle">JegalNyang</span>
                            </div>
                            <div>
                                <span><img src="../../assets/img/calender.svg" alt=""></span>
                                <span class="minbakSubTitle">8/25 ~ 9/17</span>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="../minbag/application/index.html">
                    <div class="minbakBox">
                        <img class="minbakPhoto" src="../../assets/img/minbag.svg" alt="minbag">
                        <div class="minbakSection">
                            <p class="minbakTitle">인테리어 예쁜 집 있습니다.</p>
                            <div class="minbak">
                                <span><img src="../../assets/img/human.svg" alt=""></span>
                                <span class="minbakSubTitle">JegalNyang</span>
                            </div>
                            <div>
                                <span><img src="../../assets/img/calender.svg" alt=""></span>
                                <span class="minbakSubTitle">8/25 ~ 9/17</span>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="../minbag/application/index.html">
                    <div class="minbakBox">
                        <img class="minbakPhoto" src="../../assets/img/minbag.svg" alt="minbag">
                        <div class="minbakSection">
                            <p class="minbakTitle">인테리어 예쁜 집 있습니다.</p>
                            <div class="minbak">
                                <span><img src="../../assets/img/human.svg" alt=""></span>
                                <span class="minbakSubTitle">JegalNyang</span>
                            </div>
                            <div>
                                <span><img src="../../assets/img/calender.svg" alt=""></span>
                                <span class="minbakSubTitle">8/25 ~ 9/17</span>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="../minbag/application/index.html">
                    <div class="minbakBox">
                        <img class="minbakPhoto" src="../../assets/img/minbag.svg" alt="minbag">
                        <div class="minbakSection">
                            <p class="minbakTitle">인테리어 예쁜 집 있습니다.</p>
                            <div class="minbak">
                                <span><img src="../../assets/img/human.svg" alt=""></span>
                                <span class="minbakSubTitle">JegalNyang</span>
                            </div>
                            <div>
                                <span><img src="../../assets/img/calender.svg" alt=""></span>
                                <span class="minbakSubTitle">8/25 ~ 9/17</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <footer>
                <span></span>
                <span><a href="./"><img src="../../assets/img/menu(active).svg" alt=""></a></span>
                <span><a href="../../minbag/application/index.html"><img src="../../assets/img/create.svg"
                            alt=""></a></span>
                <span><a href="../../myPage/index.html"><img src="../../assets/img/myPage.svg" alt=""></a></span>
                <span></span>
            </footer>
        </div>
    </div>
    <script src="./js/script.js"></script>
</body>

</html>